<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 조회</title>
    <link rel="stylesheet" href="../../static/css/admin_main.css">
</head>
<body>
<nav class="nav-container">
    <div class="search-box">
        <input type="text" class="search-box-input" placeholder="Search" />
        <button class="search-box-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>

    <div class="notification">
        <div class="notification-icon">
            <span class="notification-badge">5</span>
            <i class="fa-solid fa-bell"></i>
        </div>
        <div class="notification-icon">
            <span class="notification-badge">9</span>
            <i class="fa-solid fa-envelope"></i>
        </div>
        <span id="notification-name">Hyewon Shin</span>
    </div>
</nav>
<nav class="ani-navbar">
    <div class="ani-navbar-menu">
        <a href="/admin_main">
            <i class="fa-solid fa-headphones"></i>
            <p>HOME</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/add_contents">
            <i class="fa-solid fa-headphones"></i>
            <p>컨텐츠 추가</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/contract_registration">
            <i class="fa-solid fa-headphones"></i>
            <p>계약 추가</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/add_movie">
            <i class="fa-solid fa-headphones"></i>
            <p>영화 추가</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/add_episode">
            <i class="fa-solid fa-headphones"></i>
            <p>시리즈 추가</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <i class="fa-solid fa-headphones"></i>
        <p>배우 추가</p>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <i class="fa-solid fa-headphones"></i>
        <p>감독 추가</p>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <i class="fa-solid fa-chart-pie"></i>
        <p>관리자 등록</p>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <i class="fa-solid fa-chart-pie"></i>
        <p>관리자 조회</p>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/contract_read">
            <i class="fa-solid fa-headphones"></i>
            <p>계약 조회</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <i class="fa-solid fa-chart-pie"></i>
        <p>배우 조회</p>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <i class="fa-solid fa-chart-pie"></i>
        <p>감독 조회</p>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/member_read">
            <i class="fa-solid fa-headphones"></i>
            <p>멤버 조회</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <i class="fa-solid fa-chart-pie"></i>
        <p>로그인</p>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <i class="fa-solid fa-chart-pie"></i>
        <p>Watchu 페이지</p>
    </div>
</nav>
<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="header-button">
                <h2>관리자조회</h2>
                <div class="dropdown">
                    <button class="dropbtn">
                        <span class="dropbtn_icon">정렬</span>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">id</a>
                        <a href="#">생년월일</a>
                        <a href="#">성별</a>
                        <a href="#">Email</a>
                    </div>
                </div>
            </div>
            <div id="collapse4" class="body">
                <table id="dataTable" class="table table-bordered table-condensed table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>생년월일</th>
                        <th>성별</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>admin1</td>
                        <td>2002-02-02</td>
                        <td>여</td>
                        <td>admin01@gmail.com</td>

                    </tr>
                    <tr>
                        <td>admin2</td>
                        <td>1998-02-02</td>
                        <td>남</td>
                        <td>admin02@gmail.com</td>

                    </tr>
                    <tr>
                        <td>admin3</td>
                        <td>1998-02-02</td>
                        <td>남</td>
                        <td>admin02@gmail.com</td>

                    </tr>
                    <tr>
                        <td>admin4</td>
                        <td>1998-02-02</td>
                        <td>남</td>
                        <td>admin02@gmail.com</td>

                    </tr>


                    </tbody>                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>