<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 조회</title>
    <link rel="stylesheet" href="/css/admin_main.css">
</head>
<body>
<nav class="nav-container">
    <div class="search-box">
        <img src="/img/logo.png" alt="로고" style="width: 10%; height: auto;"/>
        <input type="text" class="search-box-input" placeholder="Search"/>
    </div>
    <div class="notification">
        <span id="notification-name">admin</span>
    </div>
</nav>
<nav class="ani-navbar">
    <div class="ani-navbar-menu">
        <a href="/admin_main">
            <i class="fa-solid fa-headphones"></i>
            <p>HOME</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/add_contents">
            <i class="fa-solid fa-headphones"></i>
            <p>컨텐츠 추가</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/contract_registration">
            <i class="fa-solid fa-headphones"></i>
            <p>계약 추가</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/add_movie">
            <i class="fa-solid fa-headphones"></i>
            <p>영화 추가</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/add_episode">
            <i class="fa-solid fa-headphones"></i>
            <p>시리즈 추가</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/director_add">
            <i class="fa-solid fa-headphones"></i>
            <p>감독 추가</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/actor_add">
            <i class="fa-solid fa-headphones"></i>
            <p>배우 추가</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/admin_registration">
            <i class="fa-solid fa-headphones"></i>
            <p>관리자 등록</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/admin_read">
            <i class="fa-solid fa-headphones"></i>
            <p>관리자 조회</p>
        </a>
    </div>

    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/contract_read">
            <i class="fa-solid fa-headphones"></i>
            <p>계약 조회</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/director_read">
            <i class="fa-solid fa-headphones"></i>
            <p>감독 조회</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/actor_read">
            <i class="fa-solid fa-headphones"></i>
            <p>배우 조회</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/member_read">
            <i class="fa-solid fa-headphones"></i>
            <p>멤버 조회</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/main">
            <i class="fa-solid fa-headphones"></i>
            <p>Watchu OTT 페이지</p>
        </a>
    </div>
</nav>
<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="header-button">
                <h3>관리자 정보</h3>
                <div class="dropdown">
                    <button class="dropbtn">
                        <span class="dropbtn_icon">정렬</span>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">id</a>
                        <a href="#">생년월일</a>
                        <a href="#">성별</a>
                        <a href="#">Email</a>
                        <a href="#">수정</a>
                        <a href="#">삭제</a>
                    </div>
                </div>
            </div>
            <div id="collapse4" class="body">
                <table id="dataTable" class="table table-bordered table-condensed table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>생년월일</th>
                        <th>성별</th>
                        <th>Email</th>
                        <th>수정</th>
                        <th>삭제</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>admin1</td>
                        <td>2002-02-02</td>
                        <td>남</td>
                        <td>admin01@gmail.com</td>
                        <td>
                            <button class="btn btn-danger" onclick="promptPasswordForEdit(this)">
                                수정
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger" onclick="promptPasswordForDelete(this)">
                                삭제
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>

<script>
    // Function to handle Modify (수정) action
    function promptPasswordForEdit(button) {
        const password = prompt("수정을 위해 비밀번호를 입력해주세요.");

        if (password) {
            // Check if the password is correct
            if (password === '1234') {
                // Redirect to the /abc page if the password is correct
                window.location.href = '/admin_edit';
            } else {
                alert("비밀번호가 틀렸습니다.");
            }
        } else {
            alert("비밀번호가 입력되지 않았습니다.");
        }
    }

    // Function to handle Delete (삭제) action
    function promptPasswordForDelete(button) {
        const password = prompt("삭제를 위해 비밀번호를 입력해주세요.");

        if (password) {
            // Check if the password is correct
            if (password === '1234') {
                // Remove the row from the table if the password is correct
                button.closest('tr').remove();
                alert("삭제되었습니다.");
            } else {
                alert("비밀번호가 틀렸습니다.");
            }
        } else {
            alert("비밀번호가 입력되지 않았습니다.");
        }
    }
</script>
</html>