<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>계약 조회</title>
  <link rel="stylesheet" href="../../static/css/admin_main.css">
</head>
<body>
<nav class="nav-container">
  <div class="search-box">
    <input type="text" class="search-box-input" placeholder="Search" />
    <button class="search-box-btn">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>

  <div class="notification">
    <div class="notification-icon">
      <span class="notification-badge">5</span>
      <i class="fa-solid fa-bell"></i>
    </div>
    <div class="notification-icon">
      <span class="notification-badge">9</span>
      <i class="fa-solid fa-envelope"></i>
    </div>
    <span id="notification-name">Hyewon Shin</span>
  </div>
</nav>
<nav class="ani-navbar">
  <div class="ani-navbar-menu">
    <i class="fa-solid fa-house ani-navbar-menu__icon"></i>
    <p>Home</p>
  </div>
  <div class="ani-navbar-menu ani-navbar-menu__icon">
    <i class="fa-solid fa-headphones"></i>
    <p>컨텐츠 추가</p>
  </div>
  <div class="ani-navbar-menu ani-navbar-menu__icon">
    <i class="fa-solid fa-flag"></i>
    <p>영화 추가</p>
  </div>
  <div class="ani-navbar-menu ani-navbar-menu__icon">
    <i class="fa-solid fa-chart-pie"></i>
    <p>시리즈 추가</p>
  </div>
  <div class="ani-navbar-menu ani-navbar-menu__icon">
    <i class="fa-solid fa-chart-pie"></i>
    <p>관리자 등록</p>
  </div>
  <div class="ani-navbar-menu ani-navbar-menu__icon">
    <i class="fa-solid fa-chart-pie"></i>
    <p>로그인</p>
  </div>
  <div class="ani-navbar-menu ani-navbar-menu__icon">
    <i class="fa-solid fa-chart-pie"></i>
    <p>Watchu 페이지</p>
  </div>
</nav>
<div class="row">
  <div class="col-lg-12">
    <div class="box">
      <div class="header-button">
        <h2>계약조회</h2>
        <div class="dropdown">
          <button class="dropbtn">
            <span class="dropbtn_icon">정렬</span>
          </button>
          <div class="dropdown-content">
            <a href="#">등록번호</a>
            <a href="#">계약시작</a>
            <a href="#">계약종료</a>
            <a href="#">계약금</a>
            <a href="#">관리자</a>
          </div>
        </div>
      </div>
      <div id="collapse4" class="body">
        <table id="dataTable" class="table table-bordered table-condensed table-hover table-striped">
          <thead>
          <tr>
            <th>컨텐츠 등록번호</th>
            <th>계약시작</th>
            <th>계약종료</th>
            <th>계약금(만원)</th>
            <th>계약기간</th>
            <th>관리자</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>cjsjdnf01</td>
            <td>2023-02-02</td>
            <td>2029-09-08</td>
            <td>800</td>
            <td>2029-09-08</td>
            <td>admin1</td>
          <tr>
            <td>asdfsda2</td>
            <td>2021-02-08</td>
            <td>2030-09-08</td>
            <td>1000</td>
            <td>2037-09-08</td>
            <td>admin2</td>
          </tr>
          <tr>
            <td>asdfsda2</td>
            <td>2021-02-08</td>
            <td>2030-09-08</td>
            <td>1000</td>
            <td>2037-09-08</td>
            <td>admin2</td>
          </tr>
          <tr>
            <td>asdfsda2</td>
            <td>2021-02-08</td>
            <td>2030-09-08</td>
            <td>1000</td>
            <td>2037-09-08</td>
            <td>admin2</td>
          </tr>
          <tr>
            <td>asdfsda2</td>
            <td>2021-02-08</td>
            <td>2030-09-08</td>
            <td>1000</td>
            <td>2037-09-08</td>
            <td>admin2</td>
          </tr>


          </tbody>                </table>
      </div>
    </div>
  </div>
</div>

</body>
</html>