<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>감독 정보 수정</title>
    <link rel="stylesheet" href="/css/admin_registration.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<nav class="nav-container">
    <div class="search-box">
        <img src="/img/logo.png" alt="로고" style="width: 10%; height: auto;"/>
        <input type="text" class="search-box-input" placeholder="Search"/>
    </div>
    <div class="notification">
        <span id="notification-name">admin</span>
    </div>
</nav>
<nav class="ani-navbar">
    <div class="ani-navbar-menu">
        <a href="/admin_main">
            <i class="fa-solid fa-headphones"></i>
            <p>HOME</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/add_contents">
            <i class="fa-solid fa-headphones"></i>
            <p>컨텐츠 추가</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/contract_registration">
            <i class="fa-solid fa-headphones"></i>
            <p>계약 추가</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/add_movie">
            <i class="fa-solid fa-headphones"></i>
            <p>영화 추가</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/add_episode">
            <i class="fa-solid fa-headphones"></i>
            <p>시리즈 추가</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/director_add">
            <i class="fa-solid fa-headphones"></i>
            <p>감독 추가</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/actor_add">
            <i class="fa-solid fa-headphones"></i>
            <p>배우 추가</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/admin_registration">
            <i class="fa-solid fa-headphones"></i>
            <p>관리자 등록</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/admin_read">
            <i class="fa-solid fa-headphones"></i>
            <p>관리자 조회</p>
        </a>
    </div>

    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/contract_read">
            <i class="fa-solid fa-headphones"></i>
            <p>계약 조회</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/director_read">
            <i class="fa-solid fa-headphones"></i>
            <p>감독 조회</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/actor_read">
            <i class="fa-solid fa-headphones"></i>
            <p>배우 조회</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/member_read">
            <i class="fa-solid fa-headphones"></i>
            <p>멤버 조회</p>
        </a>
    </div>
    <div class="ani-navbar-menu ani-navbar-menu__icon">
        <a href="/main">
            <i class="fa-solid fa-headphones"></i>
            <p>Watchu OTT 페이지</p>
        </a>
    </div>
</nav>
<div class="admin_input" style="width: 400px">
    <form method="post" action="서버의url" id="admin-form">
        <h3>감독 정보 수정</h3>
        <input type="text" name="contents_id" placeholder="컨텐츠 등록기록">
        <div class="date">
            <span>감독 등록 번호: </span>
            <input type="text" name="actor_id">
        </div>
        <div class="date">
            <span>감독 이름: </span>
            <input type="text" name="actor_name">
        </div>
        <div class="date">
            <span>감독 생년월일: </span>
            <input type="date" name="contract_end">
        </div>
        <div class="date">
            <span>소속사: </span>
            <input type="text" name="actor_agency">
        </div>
        <input type="submit" value="저장">
    </form>
</div>
</body>
</html>