<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <title>왓츄 메인 페이지</title>

    <link rel="icon" href="/img/icon/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">
    <link href="/static" hreflang="x-default" rel="alternate">

    <script src="https://kit.fontawesome.com/068c802412.js" crossorigin="anonymous"></script>
</head>

<body data-theme="dark">
<div id="root">
    <div class="navManager GQU3t kvrJG">
        <!-- 왼쪽 사이드 바 -->
        <nav class="nxpXD">
            <a class="QHWMU" href="/main">
                <img src="/img/logo.png" alt="로고" style="width: 80%; height: auto;"/>
            </a>
            <section class="pCA8j">
                <ul aria-label="" class="EdiMU">
                    <li class="bXT_X">
                        <a class="bzg0x Zcvzh" id="subscribe-button">
                            <div class="z9hr7"><i class="fa-solid fa-e"></i></div>
                            구독 등록
                        </a>
                    </li>
                    <!-- 구독 입력창 (초기에는 숨겨둠) -->
                    <li class="bXT_X" >
                        <div id="subscribe-input" style="display: none; margin-left: 10px; background-color: transparent;"> <!-- 왼쪽 여백 5px 추가 -->
                            <label for="subscription-id" style="font-size: 14px; font-weight: bold; display: block;">구독 ID:</label>
                            <input type="text" id="subscription-id" placeholder="구독 ID를 입력하세요"
                                   style="padding: 6px; margin-right: 1px; border-radius: 5px; border: 1px solid #ccc; width: 120px; font-size: 9px;">
                            <button id="submit-subscription"
                                    style="padding: 6px 12px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer; font-size: 9px;">
                                제출
                            </button>
                        </div>
                    </li>
                    <li class="bXT_X">
                        <a class="bzg0x Zcvzh" href="/subscription">
                            <div class="z9hr7"><i class="fa-solid fa-bag-shopping"></i></div>
                            구독 신청
                        </a>
                    </li>
                    <li class="bXT_X"></li>
                </ul>
                <hr class="Divider IwuZi hwWb_ Nw1zg">
                <ul aria-label="" class="EdiMU">
                    <li class="bXT_X"></li>
                    <li class="bXT_X">
                        <a class="bzg0x Zcvzh" href="">
                            <div class="z9hr7"><i class="fa-solid fa-magnifying-glass"></i></div>
                            찾기
                        </a>
                    </li>
                    <li class="bXT_X">
                        <a class="bzg0x Zcvzh" href="">
                            <div class="z9hr7"><i class="fa-regular fa-star"></i></div>
                            평가
                        </a>
                    </li>
                    <li class="bXT_X">
                        <a class="bzg0x Zcvzh" href="">
                            <div class="z9hr7"><i class="fa-solid fa-box-open"></i></div>
                            보관함
                        </a>
                    </li>
                    <li class="bXT_X">
                        <a class="bzg0x Zcvzh" href="/add_contents">
                            컨텐츠 추가
                        </a>
                    </li>
                    <li class="bXT_X">
                        <a class="bzg0x Zcvzh" href="/add_movie">
                            영화 추가
                        </a>
                    </li>
                    <li class="bXT_X">
                        <a class="bzg0x Zcvzh" href="/add_episode">
                            시리즈 추가
                        </a>
                    </li>
                </ul>
            </section>
        </nav>
        <!-- 상단바 -->
        <header class="R7Zf9" id="top_navigation">
            <nav class="Jg8iW">
                <!-- 로그인 왼쪽 알람 버튼 있었는데 지우면 밀려서 그냥 둠 -->
                <div class="H1DZP">
                    <div class="AMOzj">
                        <a aria-label="" href="">
                        </a>
                    </div>
                </div>
                <div class="gwA_f">
                    <ul class="VPOv3">
                        <!-- 로그인/회원가입 버튼을 세션에 userEmail이 없을 때만 표시 -->
                        <li th:if="${session.userEmail == null}">
                            <a type="button" data-select="login-button" class="PMH0f g1Qv3 QRZbL bBcRu G41oJ"
                               href="/login">
                                <span class="ZTeRZ" role="textbox">로그인</span>
                            </a>
                        </li>
                        <li th:if="${session.userEmail == null}">
                            <a type="button" data-select="signup-button" class="PMH0f _JKgP QRZbL bBcRu G41oJ"
                               href="/sign_up">
                                <span class="ZTeRZ" role="textbox">회원가입</span>
                            </a>
                        </li>
                        <!-- 로그인 후 이메일 표시 -->
                        <li th:if="${session.userEmail != null}">
                            <span class="user-email" th:text="'USER: ' + ${session.userEmail}"
                                  style="font-size: 23px; padding-top: 10px;padding-right: 15px;"></span>
                        </li>
                        <!-- 로그아웃 버튼 -->
                        <li th:if="${session.userEmail != null}">
                            <a type="button" data-select="signup-button" class="PMH0f _JKgP QRZbL bBcRu G41oJ"
                               href="/logout">
                                <span class="ZTeRZ" role="textbox">로그아웃</span>
                            </a>
                        </li>
                        <!-- 운영자 페이지 로그인 -->
                        <li>
                            <a type="button" data-select="signup-button" class="PMH0f _JKgP QRZbL bBcRu G41oJ"
                               href="/logout">
                                <span class="ZTeRZ" role="textbox">운영자 로그인</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- 메인 시작 -->
        <main class="KywLO">
            <div style="height: 40px;"></div>
            <div class="AMqgB RgalG">
                <div class="deAmx">
                    <h1 class="bdUVo BsMmH">개별 구매</h1>
                </div>
                <hr class="Divider IwuZi hwWb_">
                <!-- 작은 메뉴 -->
                <section class="PFDEp kSGtd" style="height: auto;">
                    <ul class="hSUzc iWqj_ zwgRA">
                        <li>
                            <button class="BFdDK ZlXy0 bBcRu Zcvzh PEuT_" type="button">Top 5</button>
                        </li>
                        <li>
                            <button class="BFdDK ZlXy0 bBcRu Zcvzh" type="button">새로 올라온 콘텐츠</button>
                        </li>
                        <li>
                            <button class="BFdDK ZlXy0 bBcRu Zcvzh" type="button">추천 콘텐츠</button>
                        </li>
                    </ul>
                </section>
                <!-- 큰 메인 -->
                <section class="RCoLY wCsfm mAY7K">
                    <div class="sEUR3" style="--button-visible: block;">
                        <button class="qbhl4 Zurqi g5Ga5 pP3mC"
                                type="button" aria-label="Go to Prev"><span class="Y8rwu">
                                    <use xlink:href="#ic_narrow_arrow_left_40"></use>
                                </span></button>
                        <ul class="cV9TL Row" style="--gutter-large: 20px; --gutter-small: 10px;">
                            <li data-remy-context="%7B%22responseId%22%3A%225ff2a9f7-5dba-4ed1-90a4-f5e2679b4e15%22%2C%22rowIndex%22%3Anull%2C%22cellIndex%22%3A0%7D"
                                class="ihJ17 RowItem pj7vz Vdz2S B43dM w_exposed_cell RowItem">
                                <article><a class="HzbLq" role="link" tabindex="0"
                                            href="/contents/2">
                                    <article class="XTr2h">
                                        <figure class="yjZT7"><img alt="더 퍼스트 슬램덩크" class="XZwaD YzmsO"
                                                                   src="https://an2-img.amz.wtchn.net/image/v2/qaOz6m_HuoUboODFaquHNg.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk1UUTBNSGc0TVRCeE1UQXdJbDBzSW5BaU9pSXZkakl2YzNSdmNtVXZhVzFoWjJVdk5ESXdNVFk1TkRZNE9EUTBPRGN3SW4wLmoyQmZuUC14X3NwZXpGUnhBS1lWV3dlTjBvMGxjZjJiMVc3THF2bUd4dUk"><img
                                                alt="메인 타이틀" class="XZwaD VSuzp"
                                                src="">
                                            <figcaption aria-hidden="true" class="b2kRe">메인 이미지</figcaption>
                                        </figure>
                                        <section class="BRIwT">
                                            <p class="h5lX4 maUkF mJx88"><span class="VIHwL"
                                                                               style="--bg: #F82F62; --opacity: 1;"><span
                                                    style="color: rgb(255, 255, 255); opacity: 1;">전국 제패를 꿈꾸는 북산고 농구부 5인방의 꿈과 열정</span></span>
                                            </p><img class="mnpe2"
                                                     src="">
                                            <p class="lxcuu" style="font-size: 40px; font-weight: bold;">더 퍼스트 슬램덩크</p>
                                        </section>
                                    </article>
                                </a></article>
                            </li>
                        </ul>

                    </div>
                </section>
                <!-- 큰 메인 -->
                <!-- 탑 5 -->
                <section class="RCoLY wCsfm mAY7K">
                    <div class="Q9Uoh">
                        <div class="Gu4lS">
                            <h2 class="Qzx40 PO6sA">조회수 Top 5
                                <div class="ow_X7"></div>
                            </h2>
                        </div>
                        <div class="fnyTL" style="padding-bottom: 3px;"></div>
                    </div>
                    <div class="sEUR3" style="--button-visible: block;">
                        <ul class="cV9TL fkdOB Row" style="--gutter-large: 12px; --gutter-small: 12px;">
                            <!-- 조회수 Top 5 영화 콘텐츠 반복 -->
                            <th:block th:each="movie, iterStat : ${top5Movies}">
                                <li class="ihJ17 RowItem pj7vz GUeNJ HVRsK w_exposed_cell RowItem">
                                    <article>
                                        <!-- 각 영화 링크 -->
                                        <a th:href="@{/movie/{id}(id=${movie.content.contentsId})}" class="r4ijf"
                                           role="link" tabindex="0">
                                            <div class="QYGnG dyfg8 uyo0D">
                                                <!-- 순위 아이콘 -->
                                                <i th:class="'fa-solid fa-' + ${iterStat.index + 1}"></i>
                                                <div class="bGMla">
                                                    <div class="dI5ap">
                                                        <!-- 영화 이미지 -->
                                                        <img class="BwTPy" th:src="@{${movie.imgPath}}"
                                                             alt="Movie Poster">
                                                        <div aria-hidden="true" class="QAPl8">
                                                            <!-- 영화 이름 -->
                                                            <p class="dItcc ma29X"
                                                               th:text="${movie.content.contentsName}">Top 1</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </article>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                </section>
                <!-- 탑 5 끝 -->
                <!-- 새로운 콘텐츠 섹션: MOVIE -->
                <section class="RCoLY wCsfm mAY7K">
                    <div class="Q9Uoh">
                        <div class="Gu4lS">
                            <h2 class="Qzx40 PO6sA">새로 올라온 영화 콘텐츠
                                <div class="ow_X7"></div>
                            </h2>
                        </div>
                    </div>
                    <div class="sEUR3" style="--button-visible: block;">
                        <ul class="cV9TL fkdOB Row" style="--gutter-large: 10px; --gutter-small: 10px;">
                            <!-- MOVIE 카테고리 콘텐츠 반복 -->
                            <th:block th:each="content : ${movieContents}">
                                <li class="ihJ17 RowItem pj7vz ql9J2 ZSuDA _Hgsa w_exposed_cell RowItem">
                                    <article>
                                        <a th:href="@{/contents/{id}(id=${content.contentsId})}" class="bX6yI">
                                            <div class="Mh0Kf">
                                                <div class="bZ5l7">
                                                    <div aria-hidden="true" class="QAPl8">
                                                        <!-- 콘텐츠 이름 -->
                                                        <p class="dItcc ma29X" th:text="${content.contentsName}">
                                                            new1</p>
                                                    </div>
                                                    <!-- 콘텐츠 이미지 -->
                                                    <img class="qTeFN" th:src="@{${content.contentsPoster}}"
                                                         alt="Poster">
                                                </div>
                                            </div>
                                        </a>
                                    </article>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                </section>
                <!-- 새로운 MOVIE 콘텐츠 섹션 끝 -->
                <!-- 새로운 콘텐츠 섹션: SERIES -->
                <section class="RCoLY wCsfm mAY7K">
                    <div class="Q9Uoh">
                        <div class="Gu4lS">
                            <h2 class="Qzx40 PO6sA">새로 올라온 시리즈 콘텐츠
                                <div class="ow_X7"></div>
                            </h2>
                        </div>
                    </div>
                    <div class="sEUR3" style="--button-visible: block;">
                        <ul class="cV9TL fkdOB Row" style="--gutter-large: 10px; --gutter-small: 10px;">
                            <!-- SERIES 카테고리 콘텐츠 반복 -->
                            <th:block th:each="content : ${seriesContents}">
                                <li class="ihJ17 RowItem pj7vz ql9J2 ZSuDA _Hgsa w_exposed_cell RowItem">
                                    <article>
                                        <a th:href="@{/contents/{id}(id=${content.contentsId})}" class="bX6yI">
                                            <div class="Mh0Kf">
                                                <div class="bZ5l7">
                                                    <div aria-hidden="true" class="QAPl8">
                                                        <!-- 콘텐츠 이름 -->
                                                        <p class="dItcc ma29X" th:text="${content.contentsName}">
                                                            new1</p>
                                                    </div>
                                                    <!-- 콘텐츠 이미지 -->
                                                    <img class="qTeFN" th:src="@{${content.contentsPoster}}"
                                                         alt="Poster">
                                                </div>
                                            </div>
                                        </a>
                                    </article>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                </section>
                <!-- 새로운 SERIES 콘텐츠 섹션 끝 -->
            </div>
        </main>
        <!-- 메인 끝 -->
        <!-- 오류 메시지 출력 -->
        <div id="errorMessageBox" class="error-message" th:if="${errorMessage}" style="display: none;">
            <p th:text="${errorMessage}">오류 메시지</p> <!-- 오류 메시지 출력 -->
        </div>

        <!-- JavaScript로 메시지를 자동으로 사라지게 처리 -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                // 오류 메시지가 있으면 표시하고 3초 후 자동으로 사라지게 처리
                if ($('#errorMessageBox').length > 0) {
                    $('#errorMessageBox').fadeIn();  // 오류 메시지를 보여준다
                    setTimeout(function () {
                        $('#errorMessageBox').fadeOut();  // 3초 후 메시지 숨기기
                    }, 3000);  // 3초 뒤에 사라짐
                }
            });

            // 구독 버튼 클릭 시 입력창 보이기
            document.getElementById('subscribe-button').addEventListener('click', function() {
                var subscribeInput = document.getElementById('subscribe-input');
                if (subscribeInput.style.display === 'none') {
                    subscribeInput.style.display = 'block';  // 입력창 보이기
                } else {
                    subscribeInput.style.display = 'none';  // 입력창 숨기기
                }
            });

            // 구독 제출 버튼 클릭 시 처리
            document.getElementById('submit-subscription').addEventListener('click', function() {
                var subscriptionId = document.getElementById('subscription-id').value;
                if (subscriptionId) {
                    alert('구독 ID: ' + subscriptionId + '로 구독되었습니다.');
                    // 구독 요청을 서버로 전송하는 코드 추가 가능
                } else {
                    alert('구독 ID를 입력해주세요.');
                }
            });

        </script>
    </div>
</div>
</body>
</html>