<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta content="ie=edge" http-equiv="x-ua-compatible">
        <meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport">

        <title>왓츄 컨텐츠 페이지</title>

        <link rel="icon" href="/img/icon/favicon.ico">
        <link rel="stylesheet" href="/css/contents.css">
        
        <script src="https://kit.fontawesome.com/068c802412.js" crossorigin="anonymous"></script>
    </head>

<body data-theme="dark">
    <div id="root">
        <div class="navManager GQU3t kvrJG">
            <!-- 왼쪽 사이드 바 -->
            <nav class="nxpXD">
                <a class="QHWMU" href="/main">
                    <img src="../../img/logo.png" alt="로고" style="width: 80%; height: auto;" />
                </a>
                <section class="pCA8j">
                    <ul aria-label="" class="EdiMU">
                        <li class="bXT_X">
                            <a class="bzg0x Zcvzh" href="">
                                <div class="z9hr7"><i class="fa-solid fa-e"></i></div>구독
                            </a>
                        </li>
                        <li class="bXT_X">
                            <a class="bzg0x Zcvzh" href="">
                                <div class="z9hr7"><i class="fa-solid fa-bag-shopping"></i></div>개별 구매
                            </a>
                        </li>
                        <li class="bXT_X"></li>
                    </ul>
                    <hr class="Divider IwuZi hwWb_ Nw1zg">
                    <ul aria-label="" class="EdiMU">
                        <li class="bXT_X"></li>
                        <li class="bXT_X">
                            <a class="bzg0x Zcvzh" href="">
                                <div class="z9hr7"><i class="fa-solid fa-magnifying-glass"></i></div>찾기
                            </a>
                        </li>
                        <li class="bXT_X">
                            <a class="bzg0x Zcvzh" href="">
                                <div class="z9hr7"><i class="fa-regular fa-star"></i></div>평가
                            </a>
                        </li>
                        <li class="bXT_X">
                            <a class="bzg0x Zcvzh" href="">
                                <div class="z9hr7"><i class="fa-solid fa-box-open"></i></div>보관함
                            </a>
                        </li>
                    </ul>
                </section>
            </nav>
            <!-- 상단바 -->
            <header class="R7Zf9" id="top_navigation">
                <nav class="Jg8iW">
                    <!-- 로그인 왼쪽 알람 버튼 있었는데 지우면 밀려서 그냥 둠 -->
                    <div class="H1DZP">
                        <div class="AMOzj">
                            <a aria-label="" href="">
                            </a>
                        </div>
                    </div>
                    <div class="gwA_f">
                        <ul class="VPOv3">
                            <!-- 로그인/회원가입 버튼을 세션에 userEmail이 없을 때만 표시 -->
                            <li th:if="${session.userEmail == null}">
                                <a type="button" data-select="login-button" class="PMH0f g1Qv3 QRZbL bBcRu G41oJ" href="/login">
                                    <span class="ZTeRZ" role="textbox">로그인</span>
                                </a>
                            </li>
                            <li th:if="${session.userEmail == null}">
                                <a type="button" data-select="signup-button" class="PMH0f _JKgP QRZbL bBcRu G41oJ" href="/sign_up">
                                    <span class="ZTeRZ" role="textbox">회원가입</span>
                                </a>
                            </li>
                            <!-- 로그인 후 이메일 표시 -->
                            <li th:if="${session.userEmail != null}">
                                <span class="user-email" th:text="'USER: ' + ${session.userEmail}" style="font-size: 23px; padding-top: 10px;padding-right: 15px;"></span>
                            </li>
                            <!-- 로그아웃 버튼 -->
                            <li th:if="${session.userEmail != null}">
                                <a type="button" data-select="signup-button" class="PMH0f _JKgP QRZbL bBcRu G41oJ" href="/logout">
                                    <span class="ZTeRZ" role="textbox">로그아웃</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- 메인 시작 -->
            <main class="KywLO">
                <!-- 이것도 지우면 밀려서 그냥 둠 -->
                <div>
                    <div class="KcRhz">
                        <div></div>
                    </div>
                </div>
                <!-- 관련 동영상 섹션 -->
                <!-- content.html -->
                <div class="D1Tfs">
                    <header class="fpq6U largeHeader">
                        <div class="GE01f">
                            <div class="pQfJr">
                                <!-- 콘텐츠 포스터 -->
                                <img th:src="@{${content.contentsPoster}}" alt="Poster" class="cx18w">
                                <div class="HpCmQ"></div>
                            </div>
                            <section class="Is5ej WXXjt">
                                <div class="pUFoX">
                                    <div class="fUSig">
                                        <div class="i0BZR">
                                            <div class="C3ZFH">
                                                <div class="Wocdc">
                                                    <div class="Hv_zT">
                                                        <!-- 콘텐츠 카테고리 -->
                                                        <span th:text="${content.contentsCategory}">카테고리 자리</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 콘텐츠 제목 -->
                                            <h1 class="WipBV" th:text="${content.contentsName}">제목 자리</h1>
                                        </div>
                                        <div class="lCDR_">
                                            <!-- 콘텐츠 추가 정보 -->
                                            <span class="HXgrq ma29X" th:text="${content.contentsRelease}">개봉일 자리</span> ·
                                            <span class="tGt8b" th:text="${content.contentsGenre}">장르 자리</span> ·
                                            <span th:text="${content.contentsCountry}">국가 자리</span>
                                        </div>
                                    </div>
                                    <div class="k9zhR">
                                        <div class="u_CFX">
                                            <div class="Ffklj">
                                                <div class="LinesEllipsis EEckQ">
                                                    <!-- 콘텐츠 설명 -->
                                                    <span th:text="${content.contentsDescription}">영화 설명 자리</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a th:href="@{${content.contentsCategory == 'SERIES' ? '/episode/{contentsId}' : '/movie/{contentsId}'}(contentsId=${content.contentsId})}" class="N7_4f" style="text-decoration: none; color: inherit;">
                                        <i class="fa-solid fa-play" style="margin-right: 8px;"></i>
                                        <span class="bBcRu eWROw _hrNf">보기</span>
                                    </a>
                                    <div class="YPiOn">
                                        <section class="">
                                            <div class="XNPUV NQilo">
                                                <button type="button" class="PMH0f _JKgP bHfaw bBcRu qz3Mr UnOPZ">
                                                    <span class="ZTeRZ" role="textbox">구매하기</span>
                                                </button>
                                                <button type="button" class="PMH0f _JKgP bHfaw bBcRu qz3Mr gift-button DE09D">
                                                    <span class="ZTeRZ" role="textbox">선물하기</span>
                                                </button>
                                            </div>
                                            <div class="rOB08">
                                                <ul class="IhS6y">
                                                    <button class="WuTgN" type="button">
                                                        <i class="fa-solid fa-plus"></i>
                                                        <p class="bBcRu ma29X">보고싶어요</p>
                                                    </button>
                                                    <div class="Hv_zT">
                                                        <button class="WuTgN" type="button" aria-expanded="false">
                                                            <i class="fa-regular fa-star"></i>
                                                            <p class="bBcRu ma29X">평가하기</p>
                                                        </button>
                                                    </div>
                                                    <div class="Hv_zT">
                                                        <button class="WuTgN" type="button" aria-expanded="false">
                                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                                            <p class="bBcRu ma29X">더보기</p>
                                                        </button>
                                                    </div>
                                                </ul>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </header>
                </div>
                <!-- 중간 콘텐츠 메뉴 -->
                <ul class="hSUzc HuO0J jNVX6 MVUF5">
                    <li><button class="BFdDK LIpRy bBcRu qz3Mr s6bBH" type="button">콘텐츠 정보</button></li>
                </ul>
                
                <section class="cnx5m gWb3f">
                    <section class="d8mXc">
                        <section class="u5lkC">
                            <ul>
                                <li class="YB1TC qz3Mr">
                                </li>
                            </ul>
                        </section>
                        <!-- 관련 동영상 섹션 -->
                        <section class="dgicN">
                            <div class="Q9Uoh">
                                <div class="Gu4lS">
                                    <div>
                                        <h2 class="Qzx40 PO6sA">관련 동영상
                                            <div class="ow_X7"></div>
                                        </h2>
                                    </div>
                                </div>
                                <div class="fnyTL" style="padding-bottom: 3px;"></div>
                            </div>
                            <ul class="vDz4n">
                                <li>
                                    <a href="https://youtu.be/7JKu3J3ym_s?si=uEpaxsa03mydFu4v"
                                       rel="https://youtu.be/7JKu3J3ym_s?si=uEpaxsa03mydFu4v" target="_blank" title="관련영상 2">
                                        <div class="Mh0Kf">
                                            <div class="bZ5l7">
                                                <div aria-hidden="true" class="QAPl8">
                                                    <p class="dItcc ma29X">관련영상 1</p>
                                                </div>
                                                <img class="qTeFN" src="https://cdn-icons-png.flaticon.com/512/4404/4404094.png">
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://youtu.be/7JKu3J3ym_s?si=uEpaxsa03mydFu4v"
                                       rel="https://cdn-icons-png.flaticon.com/512/4404/4404094.png" target="_blank" title="관련영상 2">
                                        <div class="Mh0Kf">
                                            <div class="bZ5l7">
                                                <div aria-hidden="true" class="QAPl8">
                                                    <p class="dItcc ma29X">관련영상 2</p>
                                                </div>
                                                <img class="qTeFN" src="https://cdn-icons-png.flaticon.com/512/4404/4404094.png">
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://youtu.be/7JKu3J3ym_s?si=uEpaxsa03mydFu4v"
                                       rel="">
                                        <div class="Mh0Kf">
                                            <div class="bZ5l7">
                                                <div aria-hidden="true" class="QAPl8">
                                                    <p class="dItcc ma29X">관련영상 3</p>
                                                </div>
                                                <img class="qTeFN" src="https://cdn-icons-png.flaticon.com/512/4404/4404094.png">
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://youtu.be/7JKu3J3ym_s?si=uEpaxsa03mydFu4v"
                                       rel="" target="_blank" title="관련영상 4">
                                        <div class="Mh0Kf">
                                            <div class="bZ5l7">
                                                <div aria-hidden="true" class="QAPl8">
                                                    <p class="dItcc ma29X">관련영상 4</p>
                                                </div>
                                                <img class="qTeFN" src="https://cdn-icons-png.flaticon.com/512/4404/4404094.png">
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </section>
                        <!-- 관련 동영상 섹션 끝-->
                        <!-- 감독/출연 섹션 -->
                        <section class="Bq7Cx">
                            <div class="Q9Uoh">
                                <div class="Gu4lS">
                                    <div>
                                        <h2 class="Qzx40 PO6sA">감독/출연
                                            <div class="ow_X7"></div>
                                        </h2>
                                    </div>
                                </div>
                                <div class="fnyTL" style="padding-bottom: 3px;">
                                    <a class="IGQxb qz3Mr" role="button" type="button">더보기</a>
                                </div>
                            </div>
                            <ul class="TI8D1">
                                <li class="oNcrO">
                                    <a class="E2_45" title="감독">
                                        <div class="W2Hhx">
                                            <div class="IeFG3">
                                                <div class="Uevbl wCcEb" style="width: 62px; height: 62px;">
                                                    <img alt="이미지" class="TYT2C"
                                                         src="../../img/user.png">
                                                </div>
                                                <div class="dZHuU">
                                                    <div class="ig5F_ eWROw">이노후 다케이코</div>
                                                    <div class="ixjjU G41oJ">감독</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="oNcrO">
                                    <a class="E2_45" title="배우">
                                        <div class="W2Hhx">
                                            <div class="IeFG3">
                                                <div class="Uevbl wCcEb" style="width: 62px; height: 62px;">
                                                    <img alt="이미지" class="TYT2C"
                                                         src="../../img/user.png">
                                                </div>
                                                <div class="dZHuU">
                                                    <div class="ig5F_ eWROw">미야케 켄타</div>
                                                    <div class="ixjjU G41oJ">배우</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </section>
                        <!-- 감독/출연 섹션 끝-->
                        <!-- 댓글 섹션 -->
                        <section class="FcJRN">
                            <div class="Q9Uoh">
                                <div class="Gu4lS">
                                    <div>
                                        <h2 class="Qzx40 PO6sA">왓챠피디아 사용자 평
                                            <div class="ow_X7">
                                                <span class="SbAhi qz3Mr"></span>
                                            </div>
                                        </h2>
                                    </div>
                                </div>
                                <div class="fnyTL" style="padding-bottom: 3px;"></div>
                            </div>

                            <!-- 댓글 기능 -->



                            <form id="comment-form" style="display: flex; flex-direction: column;">
                                <!-- 숨겨진 ID 필드 -->
                                <input type="hidden" id="user-name">

                                <!-- 댓글 입력창 -->
                                <textarea id="comment-text" placeholder="댓글을 입력하세요" style="width: 100%; height: 150px; font-size: 16px; padding: 10px;"></textarea>

                                <!-- 제출 버튼 -->
                                <button type="button" id="submit-comment" style="background-color: #28a745; color: white; font-size: 18px; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; align-self: flex-end;">댓글 추가</button>
                            </form>


                            <script>
                                // 로그인 정보를 저장할 변수
                                document.getElementById("submit-comment").addEventListener("click", function () {
                                    // 입력된 데이터 가져오기
                                    const userEmail = document.querySelector(".user-email").textContent;
                                    const commentText = document.getElementById("comment-text").value;
                                    // userEmail.textContent = userEmail.textContent.replace("USER: ", "").trim();
                                    console.log(userEmail);


                                    if (!commentText) {
                                        alert("댓글을 입력해주세요.");
                                        return;
                                    }

                                    // 서버로 보낼 데이터 객체 생성
                                    const reviewData = {
                                        email: userEmail, // 사용자 ID
                                        reviewContext: commentText // 댓글 내용
                                    };

                                    // 서버에 POST 요청
                                    fetch("/reviews", {
                                        method: "POST",
                                        headers: {
                                            "Content-Type": "application/json"
                                        },
                                        body: JSON.stringify(reviewData)
                                    })
                                        .then(response => response.text())
                                        .then(data => {
                                            alert("댓글이 성공적으로 추가되었습니다!");
                                            console.log("Response:", data);
                                            location.reload(); // 새로고침으로 UI 갱신
                                        })
                                        .catch(error => {
                                            console.error("Error:", error);
                                            alert("댓글 추가 중 오류가 발생했습니다.");
                                        });
                                });

                            </script>

                            <h1 style="margin-top: 20px;">리뷰 목록</h1>

                            <!-- 리뷰를 렌더링할 컨테이너 -->
                            <div id="review-list" class="review-container">
                                <!-- JavaScript가 여기에 리뷰를 동적으로 추가 -->
                            </div>


                            <script>
                                // 리뷰 데이터를 받아 HTML로 렌더링하는 함수
                                function renderReviews(reviews) {
                                    const reviewList = document.getElementById("review-list");

                                    if (reviews.length === 0) {
                                        reviewList.innerHTML = "<p>작성된 리뷰가 없습니다.</p>";
                                        return;
                                    }

                                    reviews.forEach(review => {
                                        // 리뷰 항목 생성
                                        const reviewItem = document.createElement("li");
                                        reviewItem.style.marginTop = "20px"; // 댓글 간격

                                        const article = document.createElement("article");
                                        article.classList.add("uM9e2");

                                        // 사용자 프로필 이미지
                                        const userImgDiv = document.createElement("div");
                                        userImgDiv.classList.add("MkENi");
                                        userImgDiv.style.marginRight = "10px";

                                        const userImg = document.createElement("img");
                                        userImg.alt = "img";
                                        userImg.classList.add("lAvqc");
                                        userImg.src = "../../img/user.png"; // 이미지 경로, 필요시 변경

                                        userImgDiv.appendChild(userImg);

                                        // 리뷰 내용
                                        const reviewContentDiv = document.createElement("div");
                                        reviewContentDiv.classList.add("PSrUz");

                                        // 작성자 이름과 평점
                                        const nameAndRatingDiv = document.createElement("div");
                                        nameAndRatingDiv.classList.add("ii2mE");
                                        nameAndRatingDiv.style.marginBottom = "10px";

                                        const userNameDiv = document.createElement("div");
                                        userNameDiv.classList.add("RA4z_");
                                        userNameDiv.classList.add("qz3Mr");
                                        const userNameLink = document.createElement("a");
                                        userNameLink.setAttribute("rel", "noopener noreferrer");
                                        userNameLink.setAttribute("target", "_blank");
                                        userNameLink.textContent = review.name; // 서버에서 받은 이름

                                        userNameDiv.appendChild(userNameLink);
                                        nameAndRatingDiv.appendChild(userNameDiv);

                                        // 별점 아이콘 (예: 5개 별)
                                        const stars = document.createElement("div");
                                        stars.style.marginLeft = "10px"; // 이름과 별점 사이에 간격을 둠
                                        for (let i = 0; i < 5; i++) {
                                            const starIcon = document.createElement("i");
                                            starIcon.classList.add("fa-solid", "fa-star");
                                            stars.appendChild(starIcon);
                                        }

                                        nameAndRatingDiv.appendChild(stars);

                                        // 리뷰 내용
                                        const reviewTextDiv = document.createElement("p");
                                        reviewTextDiv.classList.add("LinesEllipsis");
                                        reviewTextDiv.textContent = review.reviewContext; // 서버에서 받은 리뷰 내용

                                        // 리뷰 내용과 작성자 정보 추가
                                        reviewContentDiv.appendChild(nameAndRatingDiv);
                                        reviewContentDiv.appendChild(reviewTextDiv);

                                        // 리뷰 카드에 이미지, 작성자 정보, 리뷰 내용 추가
                                        article.appendChild(userImgDiv);
                                        article.appendChild(reviewContentDiv);

                                        // 전체 li 요소에 article을 추가
                                        reviewItem.appendChild(article);

                                        // 최종적으로 review-list에 리뷰 추가
                                        reviewList.appendChild(reviewItem);
                                    });
                                }

                                // 페이지 로드 시 모든 리뷰 가져오기
                                document.addEventListener("DOMContentLoaded", function () {
                                    fetch("/reviews") // 서버의 리뷰 API 호출
                                        .then(response => response.json())
                                        .then(data => {
                                            renderReviews(data); // 리뷰 데이터를 렌더링
                                        })
                                        .catch(error => {
                                            console.error("리뷰 데이터를 가져오는 중 오류 발생:", error);
                                        });
                                });
                            </script>
                            <ul class="EN7an">
                            </ul>
                        </section>
                        <!-- 댓글 섹션 끝-->
                    </section>
                </section>
            </main>
            <!-- 메인 끝 -->
        </div>
    </div>
</body>
</html>