<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>계약 등록</title>
  <link rel="stylesheet" href="../../static/css/admin_registraion.css">
  <link rel="stylesheet" href="../../static/css/admin.css">
</head>
<body>
<nav class="nav-container">
  <div class="search-box">
    <input type="text" class="search-box-input" placeholder="Search" />
    <button class="search-box-btn">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>

  <div class="notification">
    <div class="notification-icon">
      <span class="notification-badge">5</span>
      <i class="fa-solid fa-bell"></i>
    </div>
    <div class="notification-icon">
      <span class="notification-badge">9</span>
      <i class="fa-solid fa-envelope"></i>
    </div>
    <span id="notification-name">Hyewon Shin</span>
  </div>
</nav>
<nav class="ani-navbar">
  <div class="ani-navbar-menu">
    <i class="fa-solid fa-house ani-navbar-menu__icon"></i>
    <p>Home</p>
  </div>
  <div class="ani-navbar-menu ani-navbar-menu__icon">
    <i class="fa-solid fa-headphones"></i>
    <p>컨텐츠 추가</p>
  </div>
  <div class="ani-navbar-menu ani-navbar-menu__icon">
    <i class="fa-solid fa-flag"></i>
    <p>영화 추가</p>
  </div>
  <div class="ani-navbar-menu ani-navbar-menu__icon">
    <i class="fa-solid fa-chart-pie"></i>
    <p>시리즈 추가</p>
  </div>
  <div class="ani-navbar-menu ani-navbar-menu__icon">
    <i class="fa-solid fa-chart-pie"></i>
    <p>관리자 등록</p>
  </div>
  <div class="ani-navbar-menu ani-navbar-menu__icon">
    <i class="fa-solid fa-chart-pie"></i>
    <p>로그인</p>
  </div>
  <div class="ani-navbar-menu ani-navbar-menu__icon">
    <i class="fa-solid fa-chart-pie"></i>
    <p>Watchu 페이지</p>
  </div>
</nav>
<div class="admin_input">
  <form method="post" action="서버의url" id="admin-form">
    <input type="text" name="contents_id" placeholder="컨텐츠Id">
    <div class="date">
      <span>계약시작: </span>
    <input type="date" name="contract_start" >
</div>
    <div class="date">
      <span>계약종료: </span>
      <input type="date" name="contract_end">
    </div>
    <input type="text" name="Field" placeholder="계약금">
    <div class="date">
      <span>계약기간: </span>
      <input type="date" name="contract_end">
    </div>
    <input type="submit" value="저장">
  </form>
</div>
</body>
</html>